@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  color: white;
}

.App-header {
  background-color: black;
  padding: 20px;
  color: white;
  width: 100%;
  text-align: center;
}

.neon-heading {
  font-family: 'Press Start 2P', cursive;
  color: #39ff14; /* Neon green text */
}

.docs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.doc-card {
  background-color: black;
  border: 2px solid #39ff14; /* Neon green border */
  border-radius: 8px;
  box-shadow: 0 0 10px #39ff14; /* Neon green shadow */
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
  color: #39ff14; /* Neon green text */
}

.doc-ids {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.doc-id {
  border-bottom: 1px solid #39ff14; /* Neon green boundary */
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.doc-content {
  color: #39ff14; /* Neon green text */
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #39ff14; /* Neon green text */
}